<div class="row">
	<div class="large-8 columns end issues">
		<h1>Issues</h1>

<p><%= link_to 'New Issue', new_admin_issue_path, class: 'btn btn-primary' %></p>

<ul class="issues list">
  <li><a href="http://localhost:3015/admin/issues/1">Volume 14</a> <span class="status">Unpublished</span></li>
  <li><a href="http://localhost:3015/admin/issues/1">Volume 13</a> <span class="pdf glyphicon glyphicon-file"></span>  <span class="status">Published</span></li>
</ul>
	</div>
</div>




