<div class="row">
  <div class="large-8 columns end issues">
    <h1>Editors</h1>

    <p><%= link_to 'New Editor', new_admin_editor_path, class: 'btn btn-primary' %></p>

    <ul class="issues list">
      <% @editors.each do |editor| %>
        <li><a href="<%= admin_editor_path(editor) %>"><%= editor.username %></a></li>
      <% end %>
    </ul>
  </div>
</div>
