<div class="row">
  <div class="large-8 columns end">
<h1>New Editor</h1>

<%= simple_form_for @editor, url: admin_editors_path(), html: { class: 'form-horizontal'} do | f | %>
  <%= f.input :username, label: 'NetID' %>

  <%= f.submit 'Save', class: 'btn btn-primary' %>

<% end %>

  </div>
</div>
