<div class="row">
  <div class="large-8 columns end">
    <h1>Add Award <small> to <%= @essay_award.essay.title.truncate(50) %></small> </h1>

    <%= simple_form_for @essay_award, url: admin_issue_essay_essay_awards_path, html: { class: 'form-horizontal'} do | f | %>
      <%= render partial: "form", locals: {f: f} %>
    <% end %>

  </div>
</div>
