<section class="search">
  <%= form_tag essay_search_path, method: :get, class: "form-inline", role: "form" do %>
    <div class="form-group">
      <label class="sr-only" for="keywords">Search</label>
      <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Search">
    </div>
    <div class="form-group">
      <label class="sr-only" for="essay_style">Essay Style</label>
      <select class="form-control" id="essay_style" placeholder="Essay Style">
        <option>Essay Style</option>
        <option>Narrative</option>
      </select>
    </div>

    <div class="form-group">
      <label class="sr-only" for="essay_style">Issue</label>
      <select class="form-control" id="essay_style" placeholder="Essay Style">
        <option>Issue</option>
        <option>2014</option>
      </select>
    </div>


    <div class="form-group">
      <label class="sr-only" for="essay_style">Medium</label>
      <select class="form-control" id="essay_style" placeholder="Essay Style">
        <option>Medium</option>
        <option>Multimedia</option>
        <option>Traditional</option>
      </select>
    </div>

    <div class="form-group">
      <input type="submit" value="Search" >

    </div>
  <% end %>
</section>

<section class="results">
  <ul class="small-block-grid-2 medium-block-grid-3 listing">
    <% @essay_search.results.each do | essay_link | %>
      <li><%= essay_link.render %></li>
    <% end %>
  </ul>
</section>
