<div class="row volume <%= object.css_class %>">
  <div class="large-12 header">
    <%= raw object.header_image %>
    <%= object.title %>
    <span class="credit"><%= object.image_credit %></span>
  </div>
</div>

