<h2><%= issue_nav.year %></h2>
<ul class="side-nav">
  <li><%= issue_nav.link_to_editorial_notes %></li>
  <li><%= issue_nav.link_to_editorial_board %></li>
  <li><%= issue_nav.link_to_acknowledgments %></li>
</ul>
