<% content_for(:issue_header) do %>
  <div class="row volume sub">
    <div class="large-12 header">
      <a href="<%= issue_path(@issue_detail.issue) %>"><img src="http://placehold.it/900x90" ></a>
      <p>Volume 14</p>
    </div>
  </div>
<% end %>
<% content_for(:left_column) do %>
  <%= @issue_detail.render_nav %>
<% end %>

<p><%= @issue_detail.editorial_notes %></p>
