<% content_for(:issue_header) do %>

  <%= @issue_detail.render_issue_header %>

<% end %>
<% content_for(:left_column) do %>
  <%= @issue_detail.render_nav %>
<% end %>

<p><%= @issue_detail.editorial_notes %></p>
