<% content_for(:left_column) do %>
  <%= render partial: 'issues/nav', locals: { issue_nav: @issue_detail.issue_nav } %>
<% end %>

<h1>Essays</h1>
<ul class="small-block-grid-3 listing">
  <% @issue_detail.essays.each do |essay| %>
    <li><img src="http://placehold.it/211x135"><%= link_to(essay.title, issue_essay_path(@issue_detail.friendly_id, essay.friendly_id)) %></li>
  <% end %>
</ul>
<hr>
<h1>Essay Styles</h1>
<ul class="small-block-grid-3 listing">
  <% @issue_detail.essay_styles.each do |style| %>
    <li><img src="http://placehold.it/211x135"><%= style.link_to_show %></li>
  <% end %>
</ul>
