<h1><%= @issue_detail.year %></h1>
<ul>
  <li><%= @issue_detail.link_to_editorial_notes %></li>
  <li><%= @issue_detail.link_to_editorial_board %></li>
  <li><%= @issue_detail.link_to_acknowledgments %></li>
</ul>
