<h2>Highlighted Essay</h2>
<ul class="small-block-grid-3 listing">
  <li><img src="http://placehold.it/211x135"><%= highlighted_essay_detail.link_to_essay %></li>
  <li><%= highlighted_essay_detail.body %></li>
  <li><%= highlighted_essay_detail.biography %></li>
</ul>
