<ul class="small-block-grid-3 listing">
  <li><%= raw highlighted_essay_detail.link_to_essay %></li>
  <li><%= highlighted_essay_detail.body %></li>
  <li><%= highlighted_essay_detail.biography %></li>
</ul>
