<h1>Highlighted Essay</h1>
<ul class="small-block-grid-3 listing">
  <li><%= placeholder_image(211, 135, highlighted_essay_detail.essay_id) %> <%= highlighted_essay_detail.link_to_essay %></li>
  <li><%= highlighted_essay_detail.body %></li>
  <li><%= highlighted_essay_detail.biography %></li>
</ul>
