<h1><%= @essay_style_detail.title %></h1>
<section class="crumb"><%= @essay_style_detail.link_to_issue %></section>
<%= @essay_style_detail.render_highlighted_essay %>
<h2>Essays</h2>
<ul class="small-block-grid-3 listing">
  <% @essay_style_detail.essays.each do |essay| %>
    <li><img src="http://placehold.it/211x135"><%= @essay_style_detail.link_to_essay(essay) %></li>
  <% end %>
</ul>
