<% content_for(:issue_header) do %>
  <%= @essay_award_detail.render_issue_header %>
<% end %>

<h1><%= @essay_award_detail.title %></h1>

<ul class="small-block-grid-3 listing">
  <% @essay_award_detail.essays.each do |essay| %>
    <li><%= raw @essay_award_detail.link_to_essay(essay) %></li>
  <% end %>
</ul>
