<h1>New Essay</h1>


<p>Title Field</p>
<p>Style Select</p>

<p>Author Field</p>
<p>Author Image</p>

<p>Cover Image</p>

<%= link_to 'Save Essay', admin_issue_essay_path(1, 1), class: 'btn btn-primary' %>
