# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

defaults: &defaults
  secret_key_base:

development:
  <<: *defaults
  okta:
    auth_server_id:
    client_id:
    client_secret:
    base_auth_url:
    redirect_url:
    logout_url:

prep:
  <<: *defaults
  okta:
    auth_server_id:
    client_id:
    client_secret:
    base_auth_url:
    redirect_url:
    logout_url:

production:
  <<: *defaults
  okta:
    auth_server_id:
    client_id:
    client_secret:
    base_auth_url:
    redirect_url:
    logout_url:
