<div class="large-4 columns">
  <div id="markdownEditor" class="body">
    <h3 class="control-label">Markdown Content</h3>
    <div class="wmd-panel">
      <%= render :partial => '/markdown/mdown_editor', locals: {markdown: @markdown} %>
    </div>
  </div>
</div>
<div class="large-6 columns">
  <article class="page-body" id="previewSurround">
  <div id="previewWindow" class="body">
    <h3 class="control-label">Preview</h3>
    <div class="wmd-preview" id="wmd-preview-content"/>
  </div>
  </article>
</div>  
<div id="insertImageDialog" class="modal fade" title="Insert Image" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Select Image</h3>
      </div>
      <div class="modal-body">
        <form id="uploadForm" enctype="multipart/form-data">
          <div class="fileUpload btn btn-primary">
            <span>Choose Image</span>
            <input type="file" name="file" id="uploadFile" class="upload" size="60" data-action="/media/upload" />
          </div>
          <input id="uploadPlaceholder" placeholder="Choose File" disabled="disabled" />
          <span id="uploadLoader" class="loader_small"></span>
          <label for="altText">Alternate Text</label>
          <input id="altText" placeholder="Text for screen readers" type="text" name="alt_text" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeImageDialog" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="uploadImageButton" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>
