<div class="row">
  <div class="large-8 columns end">
    <h1>Edit Companion Material</h1>

    <p><strong>Current File:</strong> <%= link_to @attached_file.file_file_name, @attached_file.file.url %></p>

    <%= simple_form_for @attached_file, url: admin_issue_essay_attached_file_path, html: { class: 'form-horizontal'} do | f | %>
      <%= render partial: "form", locals: {f: f} %>
    <% end %>

  </div>
</div>
