<div class="row">
  <div class="large-8 columns end">
    <h1>Add Companion Material</h1>

    <%= simple_form_for @attached_file, url: admin_issue_essay_attached_files_path, html: { class: 'form-horizontal'} do | f | %>
      <%= render partial: "form", locals: {f: f} %>
    <% end %>

  </div>
</div>
