<%= simple_form_for @markdown_content, :url => admin_markdown_content_path(@markdown_content), html: {class: "form-horizontal redactor"} do |f| %>
  <%= f.input :content, cols: 40, rows: 20, label:false, :as => :pagedown %>
  <div class="control-group">
    <div class="form-actions">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <a class="cancel" href="<%= url_for :back %>">Cancel</a>
    </div>
  </div>

<% end %>


