$ltlt-green:#E8E9DC;
$lt-green: #A4A774;
$dk-green: #44834B;
$lt-grey : #ABABAB;
$dk-grey : #111111;
$yellow : #FFC926;
$link :#70C19A;
$page: 900px;
$headers : "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$content : Georgia,Cambria,"Times New Roman",Times,serif;

@mixin box-shadow($shadow...) {
  -webkit-box-shadow:$shadow;
     -moz-box-shadow:$shadow;
          box-shadow:$shadow;
}


.row {
  max-width: none;
}
/* Fonts
   ----------------------------------------------------*/
@font-face {font-family:NDIcons;
  src:url('//www.nd.edu/assets/fonts/nd.v2.eot');
  src:url('//www.nd.edu/assets/fonts/nd.v2.eot?iefix') format('embedded-opentype'),
      url('//www.nd.edu/assets/fonts/nd.v2.woff') format('woff'),
      url('//www.nd.edu/assets/fonts/nd.v2.ttf') format('truetype'),
      url('//www.nd.edu/assets/fonts/nd.v2.svg') format('svg');
}
@font-face {font-family:GPC; font-weight:300; font-style:normal;
  src:url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.min.eot');
  src:url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.min.eot?iefix') format('embedded-opentype'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.min.woff') format('woff'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.min.ttf') format('truetype');
}
@font-face {font-family:GPC; font-weight:400; font-style:normal;
  src:url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.min.eot');
  src:url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.min.eot?iefix') format('embedded-opentype'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.min.woff') format('woff'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.min.ttf') format('truetype');
}

html { font-size: 62.5%; }

/* HEADER
     ----------------------------------------------------*/
  .site-header {margin:0; text-align:center;}
  .brandbar,
  .titlebar {overflow:hidden;}

   .brandbar ul {margin:0; list-style:none;}
   .brandbar li {margin:0;}

  .dept { border-top: 1px solid  #000; @include box-shadow(0 1px 0 rgba(0,122,217,0.4) inset);}
  .site-header li {margin:0; padding:0;}
  .brandbar a {display:block;  margin:0 auto; text-decoration:none; height:50px; text-indent:-9999px; overflow:hidden; background-repeat:no-repeat;}
  .dept-nd img {display:none;}
    .dept-nd a {background-position:left 0;}
    .dept a {background-position:right 0;}

  .titlebar {padding:0.75em 0;}
  .site-title {clear:both; margin:0.4em auto; padding:0; line-height:1em; font-size:1.75em; font-weight:300; text-shadow:0 1px rgba(255,255,255,0.7);}
   .site-title a {display:block; border:none; color:#002b5b; text-decoration:none;}
    .site-title  a:visited {color:#002b5b;}
    .site-title  a:hover {text-decoration:none;}





  .site-header {text-align:left;}
  .brandbar,
  .titlebar {padding:0;}
  .dept-nd a {float:left; height:50px;border:none;}
  .dept {border-top:0 none; @include box-shadow(none);}
  .dept a {float:right; height:50px;border:none;}

a, .redactor-editor a {
  color:$link;
  border-bottom:solid 1px $yellow;
}
.redactor-editor a:hover, a:hover {
  text-decoration: none;
  color:$lt-green;
}
.redactor-editor a:visited, a:visited {
  text-decoration: none;
}
a:active, a:link, .redactor-editor a:active, .redactor-editor a:link {
  text-decoration: none !important;

}

a:active {
  color:$dk-green;
}

.page-body {
  border-bottom:solid 3px $lt-green;
}

/* ARTICLE */

.page-body p, .body ul {
  color:#333;
  font-family: $content;
  font-size:2rem;
  margin-left:30px;
  margin-right:30px;
  margin-bottom:3rem;
}

.body ul li {
  margin-left:30px;
}

.attachments {
  margin:0 30px 3rem;
  h3 {
    font-size:1.8rem;
    color:$lt-green;
  }
  p {
    margin:0;
  }
  .glyphicon {
    top:5px;
  }
  a {
    border:none;
  }
}

article {

  margin-bottom:3px;
}

.redactor-editor blockquote, blockquote {
  border-left-color:$lt-green;
  background-color: $ltlt-green;
  padding:10px 20px !important;
  margin-left:30px !important;
  margin-right:30px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid $lt-green;
  font-style: normal;
  p {

  }
}
.redactor-editor blockquote:before, .redactor-editor blockquote:after {
content: "";
}


@media screen,projection {

  /** Brand Bar **/
  .brandbar.theme-bb-blue {border-bottom:1px solid #001227;
    @include box-shadow(0 1px #007ad9 inset, 0 -12px 3px -10px rgba(0,0,0,0.4) inset);
    background:#002b5b url(images/texture-checkers-lightblue50.png) 0 0 repeat;
    background:-webkit-linear-gradient(top, #003b7c 0%, #001227 100%);
    background:   -moz-linear-gradient(top, #003b7c 0%, #001227 100%);
    background:        linear-gradient(top, #003b7c 0%, #001227 100%);
  }

  .theme-bb-gold .dept { border-top: 1px solid  #600;
    @include box-shadow(0 1px rgba(255,255,255,.4) inset);
  }

    /** White Text (Default) **/
    .dept-nd a   {width:301px; background-image:url(//www.nd.edu/assets/images/brandbar/dept-nd-white.png);}
    .dept-coal a {width:316px; background-image:url(//www.nd.edu/assets/images/brandbar/dept-coal-white.png);} /* College of Arts and Letters */


}

  /* Footer */
  .site-footer {margin-top:4px; padding-top:0; text-align:left;border-top:solid 1px $lt-green;}
    .contact-info {margin:0;}
    .address {margin:0;}
    .ndmark {position:absolute; right:0;  margin:0;display:block; width:200px; margin:0 auto; top:40px;border:none;}
    .ndmark img {
      height:58px;
    }
    .site-link {display:block;}
    .org {display:inline;}

  .site-footer {position:relative; clear:both; text-align:center; }
  .site-footer .footer-inner {position:relative; padding-top:2em; padding-bottom:2em;  @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.9));}
    .vcard {border:none;padding:0.625rem 0;}
    .vcard .fn,
    .site-footer p { font-size:1.2rem; }
  .site-info {margin:1em 0;}
  .site-info  li {display:inline-block; *display:inline; *zoom:1; margin:0 2%;}
  .site-info  a {text-decoration:underline;}

  .site-footer {text-align:left;position:relative; clear:both; }
    .contact-info {margin:0;}
    .address {margin:0;}
    .site-link {}
    .org {display:inline;}
    .geo,
    .country-name {display:none;}
    .tel {}



.branding {
	border-top:solid 11px $lt-green;
	border-bottom:solid 3px $lt-green;
	height: 148px;

}

.branding .columns {
	position: relative;
	height: 134px;
}

.branding h1 {
  height:0;
  overflow: hidden;
  padding-top:115px;
  background: url(image-path('logo.svg')) bottom left no-repeat;
  background-size: contain ;
  margin:14px 0 0;
}

.branding h2 {
	font-size:1.8rem;
	color:$lt-green;
	font-family: $headers;
	width:280px;
	position: absolute;
	left:0.9375rem;
	bottom:22px;
}

.branding.sub {
  height:104px;
}

.branding.sub .columns {
  height:90px;
}

.branding.sub h1 {
  padding-top:80px;
  margin:7px 0 0;
}

.branding.sub h2 {
  width:auto;
  bottom:10px;
}

.branding.sub {
  .large-4 {
    width: 25%;
  }
  .large-8 {
    width:75%;
  }
}

.top-bar {
	background:none;
}

nav.top-bar {
  margin:10px auto 0px;
  border-bottom:solid 1px $lt-green;
  height:auto;
  padding-bottom:7px;
}

.top-bar-section ul, .top-bar-section ul a, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section a:hover {
	background:none !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	line-height: 1em;
}

.top-bar-section ul {
	width: 100%;
}

.top-bar-section ul li {
	padding:0 43px;
}

.top-bar-section ul li:first-child {
	padding-left: 0;
}
.top-bar-section ul li:last-child {
	padding-right:0;
	float: right;
}

.top-bar-section ul li > a:link {
	font-family: $headers;
	color:$lt-grey !important;
	font-size: 1.8rem;
	text-transform: uppercase;
	padding:5px 0;
	border-bottom:solid 3px #fff;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	padding:5px 0;
	color: $lt-grey !important;
	border-bottom:solid 3px #fff;
}

.top-bar-section ul li > a:hover, .top-bar-section ul li > a.active {
	color:$lt-grey;
	border-bottom:solid 3px $yellow !important;
	text-decoration: none;
}

.top-bar-section .has-dropdown > a {
	padding-right: 0 !important;
}

.orbit-bullets-container {
  clear: both;
  position: absolute;
  bottom:35px;
  width: 100%
}

.orbit-bullets {
  margin-bottom: 0;
}

.orbit-bullets li {
  cursor: pointer;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
  bottom:0;
  top:auto !important;
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-prev:hover > span {
  border-color:rgba(0, 0, 0, 0) $dk-green rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.orbit-container .orbit-next > span, .orbit-container .orbit-next:hover > span {
    border-color:rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0)$dk-green;
}

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
  background-color: transparent;
}

.orbit-container {
  height:290px;
}

.slideshow-wrapper .orbit-container .orbit-bullets li {
  display:inline-block;
}

div.volume {
  position: relative;
  margin-bottom: 15px;
  a.vtitle {
    position: absolute;
    bottom:0;
    left:0;
    margin:0;
    padding:55px 12px 12px;
    font-family: $headers;
    color:#fff;
    font-size:2.6rem;
    line-height: 1em;
    background:rgba(164,167,116,0.7);
    height:100%;
    vertical-align: bottom;
  }
  a {
      border:none;
    }
  .credit {
    position: absolute;
    bottom:-1.5em;
    right:0;
    font-size: 1.0rem;
    color:$lt-grey;

    .has-tip {
      color:$lt-grey;
    }
  }
}



.volume-list {
  position:relative;
  a.title {
    color:#fff;
    position: absolute;
    background:rgba(164,167,116,0.7);
    border:none;
    left:0;
    bottom:0;
    height:100%;
    padding:40px 12px 12px;
  }
}
.large-9:first-child {
    padding-left: 0;
  }

.volume.home a.vtitle {
  font-size: 4.5rem;
  padding-top:147px;
  width:230px;
}

/* HIGHLIGHTED */
.highlighted-essay-carousel {
  background:none;
}

.orbit-container {
  margin-top:28px;
  a {
    border:none;
  }
  img {
    width:348px;
  }
  .orbit-timer {
    display: none;
  }
  p {
    font-size:1.4rem;
  }
  .cover {
    float: left;
    width: 50%;
    position: relative;
    .title {
      position:absolute;
      bottom:3.1rem;
      background: none repeat scroll 0 0 rgba(68, 131, 75, 0.7);
      font-size:1.8rem;
      color:#fff;
      display: block;
      padding:5px;
      width:100%;
    }
    .meta {
      padding-left:5px;
      padding-right:5px;
    }

  }
  .abstract {
    float: left;
    width: 50%;
    padding:20px 0;
    position: relative;
    p {
      font-size:1.6rem;
      text-indent:4rem;
      font-style: italic;
    }
    p:before {
      content: "“";
      color:$lt-green;
      font-size: 10rem;
      position: absolute;
      top:-30px;
      left:-15px;
      font-family: $headers;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.listing.volume li a.title {
  bottom:4.3rem;
}

.listing.volume li em {
  display: none;
}


/* ESSAY LISTS */

.page-body h2.year {
  font-family: $headers;
  font-size: 3.8rem;
  margin-top:1.5em;
  a {
    color:$lt-green;
    border:none;
  }

}

.listing {
  li {
    position:relative;
    a.title {
      position: absolute;
      left:0.625rem;
      bottom:4.3rem;
      background:rgba(68,131,75,0.7);
      color: #fff;
      width: 210px;
      width:calc(100% - 1.25rem);
      padding:5px;
      font-size: 1.6rem;
      font-family: $headers;
      border:none;
      line-height: 1.2;
    }
    img, a.title { transition: all .2s ease-in-out;}
  }
  li:hover img {
    -webkit-box-shadow: 0px 0px 5px 0 rgba(100,100,100,.8);
        box-shadow: 0px 0px 5px 0 rgba(100,100,100,.8);
    transform:scale(1.05);
  }
  li:hover a.title {
    transform:scale(1.05);
  }

}

.large-9 .listing li a {
  width: calc(100% - 1.5rem);
}

.large-10 {
  .listing {
    img {
      width:100%;
    }
  }
}

.search {
  margin-bottom: 1.2em;
  margin-top: 2.6rem;
  input, select {
    font-size:1.3rem;
    // color:$lt-grey;
  }
  input {
    padding:8px 12px;
    margin:0;
    height:auto;
  }
}

.results td {
  font-size: 1.25rem;
  line-height: 1.6rem;

}
.results .cover img {
    height:50px;
}

.results .listing li{
  padding-bottom:0;
  margin-bottom:12px;
}

.results .listing .title {
  bottom:3.1rem;
}

.results .meta, .cover .meta, .listing .meta, .aessay .meta {
  color:$lt-green;
  font-size:1.3rem;
  padding:5px 0;
  span {
    float: right;
  }
  a {
    color:$lt-grey;
    border:none;
  }

}

.page-body h1 {
  color:$dk-green;
  font-size: 3.8rem;
  font-family: $headers;
  font-weight: normal;
  margin-top:.7em;
  }
.page-body h2 {
    font-size: 3rem;
    color:$lt-green;
    font-family: $headers;
    font-weight: normal;
  }

.flex-video {
  margin-left:30px;
  margin-right:30px;
  margin-bottom: 0;
}

div.audio {
  padding-bottom:0;
  padding-top:30px;

}

div.flex-video.audio {
  height: auto;
  iframe {
    position: relative;
  }
  p {
    object {
      height: 31px;
    }
  }
}

.transcript {
  margin-left:30px;
  margin-right:30px;
  background:$lt-grey;
  text-align: right;
  margin-bottom:3rem;
  a {
    color:#fff;
    padding:3px 10px;
    display: inline-block;
    border: none;
  }
  dd {
    background:$lt-grey;
  }
}

.transcript .content {
  max-height: 400px;
  overflow:scroll;
  margin-bottom: 40px;
  border: 1px solid black;
  text-align: left;
}



.page-body article   h1 {
    margin-top:1.5em;
  }
article > .body > p:first-of-type:first-letter {
  float: left;
  color: $dk-green;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
article > .body > blockquote p:first-of-type:first-letter {
  float:none;
  font-size: 1em;
  line-height: 1em;
  padding:0;
  color:$dk-grey;
}

article, .redactor-editor {

  margin-bottom:40px;

  h2 {
    font-size: 3rem;
    color:$lt-green;
    font-family: $headers;
    font-weight: normal;
  }
  h3 {
    font-size:2.6rem;
    color:$lt-green;
    font-family: $headers;
    font-weight: normal;
  }
  h2.author, .author h2 {
    font-size: 1.8rem;
    border:solid 1px $lt-green;
    border-width: 1px 0;
    margin-bottom:2em;
    padding:8px 0;
    text-align: left;
    a {
      border: none;
      color: $lt-grey;
    }
    .crumb {
      float: right;
    }

  }
  .body {
    background:url(image-path('branch.jpg')) no-repeat center bottom;
    padding-bottom:30px;




    img {
      //margin:.4em 0 1.4em 1.4em;
      vertical-align: text-top;
      display: inline-block;

    }

    .small-block-grid-2 {
      margin:0 30px;
      float: right;
      li {
        padding-left:0;
        margin:0;

      }
      li:only-child {
        width:100%;
      }
      li+li {
        width:50%;
      }
    }

    figure {

      vertical-align: text-top;
      display: inline-block;
      float: left;
      width: 99%;
      margin-right: 1%;

      a {
        border-bottom: none;
      }
      img {
        margin:0;
        width: 100%;
        max-width: 326px;
      }

    }
    figcaption {
      font-size:1.2rem;
      padding:5px 0;
      display: block;
    }


	}

  aside.author {
    margin-bottom:2em;
    float: left;
    width: 100%;
    img {
      float: left;
      margin:0 1rem 1rem 0;
      width:140px;
    }
  }
  aside {
    clear:both;
  }
}



.page-body .download {
  margin-top:28px;
  margin-left: 0;
  margin-right: 0;
}

.download .button {
  font-size: 2rem;
  background-color: $dk-green;
  border-radius: 6px;
  padding:6px 13px;
  margin-left: 5px;
}

.discussion {
  //border-top:solid 1px #c4c4c4;
  //position:absolute;
  //top:0;
  //right:-8.33333%;
  //width:25%;
  border-radius: 6px;
  h3 {
  	color:$dk-green;
  	font-size:1.8rem;
  }
  ul, ol {
  	margin-left:48px;
  	margin-right:30px;
    max-height: 300px;
    overflow: auto;

  }
  li {
  	font-size:1.6rem;
  	color: $dk-grey;
  	list-style-image: url(/assets/bullet.png);
  	margin-bottom: 1em;
    font-family: $content;
    list-style-position:inside;
  }
  a {
    border:none;
  }
  span {
    border:none !important;
  }
}

.workscited {
  border-top:1px solid $lt-green;
  h3 {
    color:$dk-green;
    font-size: 1.8rem;
  }
  p {
    font-size:1.4rem;
    font-family: $content;
    text-indent: -2rem;
    margin-left:60px;
    margin-bottom:1.2em;
  }
}

.side-nav {
  margin-top:20px;
  h3 {
    font-family: $headers;
    color:$lt-green;
  }
  h3:first-child {
    margin-top: 0;
  }
  .list-unstyled {
    margin-left: 0;
  }
  .awards {
    margin-bottom:20px;
    li {
      background-color: #e8e9dc;
      margin-bottom:20px;
    }

  }
  .styles {
    li {
      margin-bottom:1em;
    }
    a {
      border:none !important;

    }
    .title {
      color:$dk-green;
      margin-top:-1.5em;
      padding-left:10px;
      font-size:2.5rem;
    }
  }
}

.side-nav .awards li a:not(.button).title {
   color:$dk-green;
      margin-top:-3.5em;
      padding-left:10px;
      padding-right:30px;
      font-size:2.5rem;
}

.side-nav .awards li a:not(.button), .side-nav .awards li a:not(.button):hover {
  border:none;
}



.side-nav li a:not(.button) {
  font-size: 1.7rem;
  color:$lt-grey;
  font-family: $headers;
  text-transform: uppercase;
  border-bottom:solid 2px #fff;


}

.side-nav li a:hover:not(.button), .side-nav li a:active:not(.button) {
  color:$lt-grey;
  border-bottom:solid 2px $yellow;
}

.side-nav li a.title:hover:not(.button) {
  border-bottom-color: $yellow;
  color:$lt-grey;
  text-decoration: none;
}


#header .row, #navigation, .page-body, #footer, .row.volume {
	max-width:$page;

}

.results {
  font-family: $headers;
  table {
    border:none;
  }
  td {
    font-size: 1.6rem;
    line-height: 1.4em;
    vertical-align: bottom;
  }
  a {
    border: none;

  }
  .title {
    width: 40%;
    a {
      color:$dk-green;
      font-size:2rem;
    }
  }
  .author {
    color:$lt-green;
  }
}

.essay_image {
  position: relative;
  .credit {
    position: absolute;
    left:30px;
    bottom:-17px;
    font-size: 11px;
    color: $lt-grey
  }
}

/* -- 320px */

@media only screen and (max-width : 480px) {
  article p {
    font-size:1.6rem;
  }
  .listing li a {
    font-size:1.4rem;
  }
  .dept-coal {
    display: none;
  }
  .page-body article h1 {
    margin-top: 0;
  }
  .page-body p {
    margin-left:0;
    margin-right:0;
  }
  .page-body .workscited p {
    margin-left:2rem;
  }
  .branding {
    height:auto;
    h1 {
        padding-top:75px;
        margin:5px auto;
        width:200px;
      }
    .columns {
      height:auto;
      position: static;
      h2 {
        position: static;
        display: none;
      }

    }

  }
  .page-body h1 {
    margin-top:0;
  }

  .volume-list a.title {
      padding-top:8px;
      font-size:1.4rem;
    }
  .top-bar-section ul li {
    padding:0 5px !important;
  }
  .top-bar-section ul li:last-child {
    float: left;
  }
.listing li a.title {
  font-size:1.4rem;
   bottom: 8.6rem;
}

.listing.volume li a.title {
  bottom: 6.6rem;
}
.results .meta span, .cover .meta span, .listing .meta span, .aessay .meta span {
  float: none;
  display: block;
}
.top-bar .toggle-topbar.menu-icon {
    margin-top: 0;
    padding-left: 40px;
    right: 15px;
    top: 0;
}
.top-bar .toggle-topbar.menu-icon a:after {
  color:#333;
  box-shadow: 0 10px 0 1px #333, 0 16px 0 1px #333, 0 22px 0 1px #333;
}

.top-bar a, .top-bar a:hover {
  border:none !important;
}
  .toggle-topbar {
    z-index: 400;
  }

  .top-bar .toggle-topbar.menu-icon a{
    color:#333;
    font-size:1.2rem;
  }

  nav.top-bar {
    height:34px;
    margin:0;
    padding:0;
  }
  nav.top-bar ul {
    margin-top: 34px;
  }
  .volume a.vtitle {
    position: relative;
    width: auto;
    height: auto;
    padding:10px !important;
  }

  .follow {
    position: fixed;
    left: 0;
    position: fixed;
    top: auto;
    bottom:0;
    width: 100%;
    z-index: 99;
  }
  .follow a {
    display: block;
    float: left;
    width: 33%;
    padding:4px;
    color:#fff;
    border:none;
    font-size: 1rem;
  }
  a.volume, a.style {
    display: none;
  }

  .follow {
    background:$lt-green;
  }

  .accordion dd > a {
    background:none;
  }
  .accordion dd.active a {
    background:$lt-green;
    width:100%;
    color:#fff;
  }
  .discussion ul {
    margin-left:2rem;
    margin-right: 0;
  }
  footer {
    padding-bottom:7rem;
    p {text-align: center;}
    p.org {
      display: block;
    }
  }
  .ndmark {
    position: relative;
    right:auto;
    top:15px;
  }
}


/* 700px
   ----------------------------------------------------*/
@media only screen and (min-width:43.75em) {
  .theme-tb-blue .header-util a,
  .theme-tb-blue .header-util a:hover {color:#fff; text-shadow:0 1px rgba(0,0,0,.9);}

}
@media only screen and (max-width : 700px) {
    article p, .flex-video {
    margin-left: 0;
    margin-right: 0;
  }

}

@media only screen and (max-width : 1030px) {
  .volume img {
    width: 100%;
  }

  .page-body article {
    padding-right: 100px;
  }

  .follow {

  }
}



/* 920px
   ----------------------------------------------------*/
@media only screen and (min-width:57.5em) {
  .theme-bb-gold .dept {border-top:0 none; @include box-shadow(none);}
  .follow {

  right:-44px;
  z-index: 50;
  background:none;
  position: absolute;
  .accordion {
    width:60%;
    float: right;
    a {
      padding:0;
      display: inline-block;
      float: right;
      background:none;
      span {
        display: block;

        padding-right:38px;

        height: 36px;
        background:url(image-path('discussion.svg'))no-repeat top right;
        position: relative;
        z-index: 40;
        color:$lt-grey;
        font-size: 1rem;
        width: 90px;
      }
    }
    a:hover {background: none;}

  }
  .tool-link {
    display: block;
    height:36px;
    width: 90px;
    float: right;
    clear: both;
    border:none;
    color:$lt-grey;
    font-size: 1rem;
  }
  .volume {
    height:auto;
    text-transform: uppercase;
    font-size:1.2rem;
    color:$lt-green;
    font-weight: bold;
  }
  .style {
    height:auto;
    margin-bottom:.8rem;
    color:$lt-green;
  }
}

.follow .content.active {

        background-color: $ltlt-green;
        -webkit-box-shadow: 0px 0px 5px 0 rgba(100,100,100,.8);
        box-shadow: 0px 0px 5px 0 rgba(100,100,100,.8);
        top:-4px;
        right:155px;
        position: relative;
        width:400px;
    }

.follow.fixed .content.active {

        right:340px;

    }

.follow .content.active * {
  clear: both;
}

.top {
  display:none;
  background: url(image-path('top.svg')) no-repeat top right;
  padding-top:12px;
}
a.author {
  background: url(image-path('author.svg')) no-repeat top right;
  padding-right:36px;

}
a.cited {
  background: url(image-path('cited.svg')) no-repeat top right;
  padding-top:12px;
}
a.instructor {
  background: url(image-path('instructor.svg')) no-repeat top right;

}
a.print {
  background: url(image-path('print.svg')) no-repeat top right;
  padding-top:12px;
}
.on {display:block;}
.abs { position: absolute; }
.fixed {
position: fixed;
top: 30px !important;
width:90px;
left:auto;
}
}

body {
  background: url(image-path('bg.png')) repeat-x 0 50px;
  cursor: auto;
}



select {
  -webkit-appearance: menulist !important;
}

.awards {
  margin:0 140px;
  li {
    list-style: none;
    clear: both;

    h3 {
      float: left;
      height:0;
      width:80px;
      padding-top:60px;
      overflow:hidden;
      background-repeat: no-repeat;
      background-size:contain;
    }

    .aessay {
      float: left;
      width: 211px;
      position: relative;
      margin-left:1em;
      margin-bottom:2.5em;
      .title {
        position: absolute;
        left:0;
        bottom:3.1rem;
        background:rgba(68,131,75,0.7);
        color: #fff;
        width: 210px;
        width:100%;
        padding:5px;
        font-size: 1.6rem;
        font-family: $headers;
        border:none;
        line-height: 1.2;
      }
    }
  }

}

.side-nav .awards {
  margin:0 0 4em;
}

.lb-data .lb-close {
  text-decoration: none;
  border:none;
}

li.a1st-place h3 {
      background-image:url(image-path('1st.svg'));
    }
li.a2nd-place h3 {
      background-image:url(image-path('2nd.svg'));
    }
li.a3rd-place h3 {
      background-image:url(image-path('3rd.svg'));
    }

.help-inline { color: red; padding-left: 10px;}

