body {
	background: url("/assets/bg.png") repeat-x scroll 0 0 transparent;
}

#header .row {
	max-width: 100%;
}

#header h2 {
	text-transform: uppercase;
	font-size: 2.4rem;
}

h3.control-label {
	margin-bottom:0;
}
