$ltlt-green:#E8E9DC;
$lt-green: #A4A774;
$dk-green: #44834B;
$lt-grey : #ABABAB;
$dk-grey : #111111;
$yellow : #FFC926;
$link :#70C19A;
$headers : "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$content : Georgia,Cambria,"Times New Roman",Times,serif;

h1, h2, h3, h4, h5, h6 {
	font-family: $headers;
}

h2, h3 {
	color:$lt-green;
}

body {
	background: url(image-path('bg.png')) repeat-x scroll 0 0 transparent;
}

label {
	font-size: 1.6rem;
	color:$lt-green;
}

#header .row, #navigation {
	max-width: 100%;
}

.top-bar-section ul li:first-child {
	padding: 0 43px;
}

.top-bar-section ul li:last-child {
	float: left;
}

ul.dropdown {
	margin-left:43px;
}

ul.dropdown li {
	background:#fff;
	padding:0 10px;
}

#header h2 {
	text-transform: uppercase;
	font-size: 2.4rem;
}

h3.control-label {
	margin-bottom:0;
}

h1 {
	font-family: $headers;
	color:$dk-green;
}

p {
	font-size:1.6rem;
}
p.bg-warning {
	padding:4px;
	background:$ltlt-green;
}

.list {
	margin-left:0;

  li, td, th {
    font-size:1.6rem;
    list-style:none;
    padding:10px 5px;
    color: #666;
  }

  li:nth-of-type(even) {
    border-bottom:solid 1px $ltlt-green;
  }
  li:nth-of-type(odd) {
    background:$ltlt-green;
  }
}

.on-off {
	font-size:1.6rem;
}

.list.extras li {
	border:none;
	background: none;
}

.list.issues .status {
	float: right;
}

.list.issues {
	clear: both;
}

.essays .list {
	clear: both;
}

.essays h2, .issues h1, .awards h2 {
	margin-top:0;
}

.essays p, .issues p, .awards p {
	font-size: 1.6rem;
}

div.issues {
	margin-top:20px;
}

.list .delete {
	float: right;
}

.glyphicon {
	color:$dk-green;
}

.list .delete .glyphicon-trash {
	visibility: hidden;
}
.list .delete:hover .glyphicon-trash {
  visibility: visible;
}

.images {
	margin-left: 2em;
}

div.image img {
  max-height: 200px;
}

.images h2 {
	margin-top:0;

}

h1 a.btn {
	vertical-align: top;
}

button, .button, .btn-primary, button:active, .button:active, .btn-primary:active {
	background: $dk-green;
}

button:hover, .button:hover, .btn-primary:hover {
	background: $lt-green
}

.form-horizontal .form-group {
	margin-left:0;
	margin-right:0;
}

article .body {
	background:none;
}

h3.author {
	margin-top: 0;
}

h4.style {
	color: $lt-green;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	font-size:1.8rem;
	height: auto;
}

select {
	line-height: 1em;
	overflow: visible;
	height: auto;
}

table {
	width: 100%;

}

.side-nav li a:hover:not(.button), .side-nav li a:focus:not(.button) {
	color:$dk-green;
}

.side-nav li li {
  padding-left: 15px;
}

#previewWindow img {
    float: right;
    margin-right: 0;
    margin-left: 3%;
    margin-top: 1px;
    max-width: 46%;
}

footer {
	border-top:solid 1px $ltlt-green;
	margin:2em 0;
	padding:4em 0;
}

.admin {
	margin:0 2%;
	width:96%;
}

.help-block {
	font-size:1.1rem;
	margin-left: 8px;
}

.image_editor .file {
	margin-bottom:5px;
}

#new_editor label {
	margin-right:1em;
}

#new_editor .col-lg-6, #new_editor label {
	float: left;
}

#new_editor .editor_username .col-lg-6 input {
	width: 400px;
}

.awards {
	margin:0;
}

.right-off-canvas-menu {
	background:#fff;

}

.padding {
	padding:14px;
}

.help li {
	font-size:12px;
	color:$lt-green;
}

.help h4 {
	color:$lt-green;
}

.help .btn-primary, .help .btn-default {
	padding:3px 6px;
	font-size:12px ;
	cursor: default;
}