<nav class="top-bar" id="navigation" data-topbar>
  <section class="top-bar-section">

  <ul class="left">
    <li>
      <a href="#">Home</a>
    </li>
    <li class="has-dropdown">
      <a href="#">Issues</a>
      <ul class="dropdown">
        <li>
          <a href="#">2014</a>
        </li>
        <li>
          <a href="#">2013</a>
        </li>
        <li>
          <a href="">Full Archive</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Essays</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">ND University Writing Program</a>
    </li>
  </ul>

  </section>
</nav>
