<nav class="top-bar" id="navigation" data-topbar>
  <section class="top-bar-section">

  <ul>
    <li>
      <%= link_to("Home", root_path) %>
    </li>
    <li>
      <%= link_to("Volumes", issues_path) %>
    </li>
    <li>
      <%= link_to("Essays", essay_search_path, class: (request.original_fullpath =~ %r{^#{essay_search_path}} ? 'active' : nil)) %>
    </li>
    <li>
      <%= link_to("About", page_path("about")) %>
    </li>
    <li>
      <a href="http://uwp.nd.edu/" target="_blank">ND University Writing Program</a>
    </li>
  </ul>

  </section>
</nav>
