<h1>My Amazing Essay </h1>

<h2>Add Award</h2>

<form>

  <label> Award
  <select>
    <option></option>
    <option>McPartlin</option>
    <option>Snite</option>
  </select>
  </label>

  <label>
    Placement
    <select>
      <option>1st</option>
      <option>2nd</option>
      <option>3rd</option>
    </select>
  </label>

  <button>Save</button>

</form>
