<aside class="discussion">


	<dl class="accordion" data-accordion>
  		<dd>
    		<a href="#panel1b"><span title="Discussion Questions">Discussion Questions</span></a>
    		<div id="panel1b" class="content ">
     			<%= object.markdown %>
    		</div>
  		</dd>
	</dl>
 
</aside>
