<div class="flex-video <%= object.embed_css_class %>"><%= object.markdown %></div>

<% if object.has_transcript? %>
  <dl class="transcript accordion" data-accordion="myAccordionGroup">
    <dd>
      <a href="#transcript">Transcript</a>
      <div id="transcript" class="content">
        <%= object.transcript %>
      </div>
    </dd>
  </dl>
<% end %>
