<h2>Instructor Resources</h2>
<div class="follow">
  <%= object.back_to_essay_link %>
</div>
<%= object.to_html %>
<div class="attachments">
  <% object.decorated_files.each do |file| %>
    <%= file.render %>
  <% end %>
</div>
