<% if object.has_content? %>
<div id='jwplayer'>Loading the player...<h3>Troubleshooting</h3>
  <ol>
    <li>Check to see if you have <a href="http://get.adobe.com/flashplayer/" target="_blank">flash</a> installed.</li>
    <li>We recommend using <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a></li>
  </ol>
</div>
<script type='text/javascript'>

jQuery(document).ready(function() {
  var fileName = "<%= sanitize(object.to_html, tags: []) %>";
  var extensionRegex = /(?:\.([^.]+))?$/;
  var extension = extensionRegex.exec(fileName)[1];
  var type = null;
  if(["mp3", "aac", "wav"].indexOf(extension) > -1) {
    type = "mp3";
  }
  else if (["mp4", "mov"].indexOf(extension) > -1) {
    type = "mp4";
  }
  var height = (type == "mp3") ? 40 : 320;
  var iosURL = "https//wowza.library.nd.edu:443/freshwriting/_definst_/" + type + ":" + fileName + "/playlist.m3u8";
  var defaultURL = "rtmp://wowza.library.nd.edu:1935/freshwriting/_definst_/" + type + ":" + fileName;
  jwplayer('jwplayer').setup({
    "fallback":true,
    "width": 480,
    "height": height,
    "primary":"flash",
    "flashplayer":"/assets/jwplayer.flash.swf",
    "autostart":false,
    "playlist": [{
      sources: [
        {file: defaultURL}//,
        //{file: iosURL}
      ]
    }],
    "androidhls": false
  });
});

</script>
<div id='jwplayer'></div>
<% end %>
